version: 2.1
jobs:
  build:
    docker:
      - image: fr3akyphantom/droid-builder:latest
    environment:
      MANIFEST_BRANCH: 'android-9.0'
      # PBRP_BRANCH: 'android-9.0'
      VERSION: '2.9.1'
      VENDOR: 'xiaomi'
      CODENAME: 'violet'
      BUILD_LUNCH: 'omni_violet-eng'
      # It's either Official build or Test build
      # PB_OFFICIAL: 'true'
      TEST_BUILD: 'true'
      EXTRA_CMD: 'cd system/libvintf && patch -p1 < ../../device/xiaomi/violet/patches/system-libvintf-disable-vbmeta-check.patch && cd ../..'
    working_directory: /home/builder/pitchblack
    steps:
      - run:
          name: AIO Build
          command: |
            echo "Set GitAuth Infos"
            git config --global user.email $GitHubMail
            git config --global user.name $GitHubName
            git config --global color.ui true
            wget -q https://raw.githubusercontent.com/PitchBlackRecoveryProject/vendor_pb/pb/build.sh
            source build.sh
workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          context: org-global
          filters:
            branches:
              only: 'android-9.0'
